.container {
	width: 720px;
    margin: 4rem auto 4rem auto;
    box-shadow: -3px -1px 33px -4px #888888;
    border-color: black;
    border-radius: 25px;
}

.formulario {
    font-family: 'Source Code Pro', monospace;
    padding: 2rem 1rem;
    color: #6B6B6B;
}

.titulo-form {
	font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
    font-size: 37px;
}

.titulo-form h4 {
	margin-bottom: 1rem;
}


label, legend{
	margin-bottom: 0.4rem;
	display: flex;
	font-size: 23px;
	font-weight: bold;
}

.sub-label{
	font-size: 1.200rem;
	font-weight: unset;
}

input, select{
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.grupo-form{
	margin: 0 auto 1.25rem auto;
  	padding: 0.25rem;
}

.grupo-input{
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
 	color: #495057;
 	box-sizing: border-box;
  	background-color: #fff;
  	background-clip: padding-box;
}

.form-radio,
.form-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.form-enviar{
    text-align: center;
    width: 100%;
    font-size: 22px;
    margin: 0 auto;
    cursor: pointer;
    height: 34px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(45deg, black,#8e0404);
}

#add {
	display: inline;
    width: 63%;

}

#add-enviar{
	padding: 0.375rem 0.75rem;
    margin-left: 1rem;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(45deg, black,#8e0404);
}

ul, li {
	font-size: 1.200rem;
	font-weight: unset;
	margin: 0.6rem 0;
}